<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  throwConfigExceptions="true">
		<variable name="myLevel" value="Info" />
		<targets>
			<!--<target name="logconsole" xsi:type="Console" />-->
			<!--TODO: The root directory hardcoded below should track the root directory set in the app AutoGrindRoot-->
			<target name="logfile"
					xsi:type="File"
					fileName="C://Users//nedlecky//Desktop//AutoGrindRoot//Logs//AutoGrind.log"
					archiveAboveSize ="10000000"
					maxArchiveFiles="10">
			</target>
			<target name="AllLogRTB"
					xsi:type="RichTextBox"
					formName="MainForm"
					controlName="AllLogRTB"
					autoScroll="true"
					maxLines="2000"
					useDefaultRowColoringRules="false"
					layout="${time}|${level}|${logger}|${message}">
				<row-coloring condition="level >= LogLevel.Error" fontColor="Red" />
				<row-coloring condition="contains(message,'==>')" fontColor="Green" />
				<row-coloring condition="contains(message,'&lt;==')" fontColor="Blue" />
			</target>
			<target name="ErrorLogRTB"
					xsi:type="RichTextBox"
					formName="MainForm"
					controlName="ErrorLogRTB"
					autoScroll="true"
					maxLines="2000"
					useDefaultRowColoringRules="false"
					layout="${time}|${level}|${logger}|${message}">
				<row-coloring condition="true" fontColor="Red" />
			</target>
			<target name="UrLogRTB"
					xsi:type="RichTextBox"
					formName="MainForm"
					controlName="UrLogRTB"
					autoScroll="true"
					maxLines="2000"
					useDefaultRowColoringRules="false"
					layout="${time}|${level}|${logger}|${message}">
				<row-coloring condition="level >= LogLevel.Error" fontColor="Red" />
				<row-coloring condition="contains(message,'==>')" fontColor="Green" />
				<row-coloring condition="contains(message,'&lt;==')" fontColor="Blue" />
			</target>
		</targets>

		<rules>
			<!--<logger name="*" minlevel="Info" writeTo="logconsole" />-->
			<rules>
				<logger minLevel="${var:myLevel}" />
			</rules>
			<logger name="*" minlevel="Trace" writeTo="logfile" />
			<logger name="*" minLevel="${var:myLevel}" writeTo="AllLogRTB" />
			<logger name="*" minlevel="Error" writeTo="ErrorLogRTB" />
			<logger name="*" minLevel="${var:myLevel}" writeTo="UrLogRTB">
				<filters defaultAction='Ignore'>
					<when condition="contains('${message}','UR')" action="Log" />
				</filters>
			</logger>
		</rules>
	</nlog>


</configuration>