<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      throwConfigExceptions="true">-->
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.sl3.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      throwConfigExceptions="true">
		<targets>
			<!--<target name="logconsole" xsi:type="Console" />-->
			<target name="logfile"
					xsi:type="File"
					fileName="${var:LogfileName}"
					archiveAboveSize ="25000000"
					maxArchiveFiles="40">
			</target>
			<target name="AllLogRTB"
					xsi:type="RichTextBox"
					formName="MainForm"
					controlName="AllLogRTB"
					autoScroll="true"
					maxLines="500"
					useDefaultRowColoringRules="false"
					layout="${time}|${level}|${message}">
				<row-coloring condition="level == LogLevel.Error" fontColor="Red" />
				<row-coloring condition="level == LogLevel.Warn" fontColor="Orange" />
				<row-coloring condition="contains(message,'==>')" fontColor="Green" />
				<row-coloring condition="contains(message,'&lt;==')" fontColor="Blue" />
			</target>
			<target name="ExecLogRTB"
					xsi:type="RichTextBox"
					formName="MainForm"
					controlName="ExecLogRTB"
					autoScroll="true"
					maxLines="500"
					useDefaultRowColoringRules="false"
					layout="${time}|${level}|${message}">
				<row-coloring condition="level == LogLevel.Error" fontColor="Red" />
				<row-coloring condition="level == LogLevel.Warn" fontColor="Orange" />
				<row-coloring condition="contains(message,'==>')" fontColor="Green" />
				<row-coloring condition="contains(message,'&lt;==')" fontColor="Blue" />
			</target>
			<target name="UrLogRTB"
					xsi:type="RichTextBox"
					formName="MainForm"
					controlName="UrLogRTB"
					autoScroll="true"
					maxLines="500"
					useDefaultRowColoringRules="false"
					layout="${time}|${level}|${message}">
				<row-coloring condition="level == LogLevel.Error" fontColor="Red" />
				<row-coloring condition="level == LogLevel.Warn" fontColor="Orange" />
				<row-coloring condition="contains(message,'==>')" fontColor="Green" />
				<row-coloring condition="contains(message,'&lt;==')" fontColor="Blue" />
			</target>
			<target name="UrDashboardLogRTB"
					xsi:type="RichTextBox"
					formName="MainForm"
					controlName="UrDashboardLogRTB"
					autoScroll="true"
					maxLines="500"
					useDefaultRowColoringRules="false"
					layout="${time}|${level}|${message}">
				<row-coloring condition="level == LogLevel.Error" fontColor="Red" />
				<row-coloring condition="level == LogLevel.Warn" fontColor="Orange" />
				<row-coloring condition="contains(message,'==>')" fontColor="Green" />
				<row-coloring condition="contains(message,'&lt;==')" fontColor="Blue" />
			</target>
			<target name="ErrorLogRTB"
					xsi:type="RichTextBox"
					formName="MainForm"
					controlName="ErrorLogRTB"
					autoScroll="true"
					maxLines="500"
					useDefaultRowColoringRules="false"
					layout="${time}|${level}|${message}">
				<row-coloring condition="level == LogLevel.Error" fontColor="Red" />
				<row-coloring condition="level == LogLevel.Warn" fontColor="Orange" />
			</target>
		</targets>

		<variable name="myLevel" value="Info" />
		<rules>
			<!--<logger name="*" minlevel="Info" writeTo="logconsole" />
			<rules>
				<logger minLevel="${var:myLevel}" />
			</rules>-->
			<logger name="*" minlevel="${var:myLevel}" writeTo="logfile" />
			<logger name="*" minLevel="${var:myLevel}" writeTo="AllLogRTB">
				<filters defaultAction='Ignore'>
					<when condition="!contains('${message}','DASH')" action="Log" />
				</filters>
			</logger>
			<logger name="*" minLevel="${var:myLevel}" writeTo="ExecLogRTB">
				<filters defaultAction='Ignore'>
					<when condition="contains('${message}','EXEC')" action="Log" />
				</filters>
			</logger>
			<logger name="*" minLevel="${var:myLevel}" writeTo="UrLogRTB">
				<filters defaultAction='Ignore'>
					<when condition="contains('${message}','UR&lt;')" action="Log" />
					<when condition="contains('${message}','UR=')" action="Log" />
				</filters>
			</logger>
			<logger name="*" minLevel="${var:myLevel}" writeTo="UrDashboardLogRTB">
				<filters defaultAction='Ignore'>
					<when condition="contains('${message}','DASH')" action="Log" />
				</filters>
			</logger>
			<logger name="*" minlevel="Warn" writeTo="ErrorLogRTB" />
		</rules>
	</nlog>


</configuration>